# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Jon Ohrt
  email = jonohrt1@gmail.com
[alias]
  # Mark a repo as trusted
  trust = "!mkdir -p .git/safe"
[user]
  name = Jon Ohrt
  email = jonohrt1@gmail.com
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true
[merge]
  tool = Kaleidoscope
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[mergetool]
  prompt = false
[diff]
  tool = Kaleidoscope
[core]
	excludesfile = /Users/johrt/.gitignore_global
[push]
  default = current
  followTags = true
[branch]
	autoSetupMerge = always
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/johrt/.stCommitMsg
