<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.schlosser.repl</string>
	<key>connections</key>
	<dict>
		<key>62F0B6BF-D1FF-472A-A0AC-44DD5262D9CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCC7EED0-A1A2-4D09-AA41-5DE6A93C7909</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1AC96CD-3C01-48D8-B610-3C6D5B39033B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82C56245-425C-41D0-8A45-1D576517A395</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9E05722-C107-4D2A-8C95-42696867E25F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82C56245-425C-41D0-8A45-1D576517A395</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D204E9EE-681F-4F06-A8C4-C1DB89B3904E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54E06658-CF73-445B-A844-989346DF23E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>840C5237-9115-4812-A289-FA9F812583E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3630692-E913-44B2-BA7D-59A6B232B1BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30AAB7B2-FF37-4371-AEE7-EB50BC171AF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dan Schlosser</string>
	<key>description</key>
	<string>Get keyword access to common Read Evalutate Print Loop terminals</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Quick REPL Access</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>python</string>
				<key>subtext</key>
				<string>Open a Python Read Evaluate Print Loop</string>
				<key>text</key>
				<string>Python REPL</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E3630692-E913-44B2-BA7D-59A6B232B1BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>ipython</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>30AAB7B2-FF37-4371-AEE7-EB50BC171AF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>node</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>82C56245-425C-41D0-8A45-1D576517A395</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>js</string>
				<key>subtext</key>
				<string>Open a JavaScript Read Evaluate Print Loop</string>
				<key>text</key>
				<string>JavaScript REPL</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B1AC96CD-3C01-48D8-B610-3C6D5B39033B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>javascript</string>
				<key>subtext</key>
				<string>Open a JavaScript Read Evaluate Print Loop</string>
				<key>text</key>
				<string>JavaScript REPL</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C9E05722-C107-4D2A-8C95-42696867E25F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>irb</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>CCC7EED0-A1A2-4D09-AA41-5DE6A93C7909</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ruby</string>
				<key>subtext</key>
				<string>Open a Ruby Read Execute Print Loop</string>
				<key>text</key>
				<string>Ruby REPL</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>62F0B6BF-D1FF-472A-A0AC-44DD5262D9CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>54E06658-CF73-445B-A844-989346DF23E6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Evaluation in Python Successful</string>
				<key>title</key>
				<string>Copied {query} to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>840C5237-9115-4812-A289-FA9F812583E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>python</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Evaluating in Python...</string>
				<key>script</key>
				<string>python evaluate.py {query}

</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Evaluate and print in python.</string>
				<key>title</key>
				<string>Evaluate: "{query}"</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D204E9EE-681F-4F06-A8C4-C1DB89B3904E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>30AAB7B2-FF37-4371-AEE7-EB50BC171AF0</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>54E06658-CF73-445B-A844-989346DF23E6</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>62F0B6BF-D1FF-472A-A0AC-44DD5262D9CF</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>82C56245-425C-41D0-8A45-1D576517A395</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>840C5237-9115-4812-A289-FA9F812583E6</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>B1AC96CD-3C01-48D8-B610-3C6D5B39033B</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>C9E05722-C107-4D2A-8C95-42696867E25F</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>CCC7EED0-A1A2-4D09-AA41-5DE6A93C7909</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>D204E9EE-681F-4F06-A8C4-C1DB89B3904E</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>E3630692-E913-44B2-BA7D-59A6B232B1BC</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://schlosser.io</string>
</dict>
</plist>
